

<style>
.category{
  
  margin-left: 350px;
  margin-top: 150px;
  
}
</style>
 <div class="col-md-8 address_form category">
						<h4>Add a new Category</h4>
						<form action="/admin/edit-category?id={{oneCategorey._id}}"  method="post" class="creditly-card-form agileinfo_form">
							<section class="creditly-wrapper wrapper">
								<div class="information-wrapper">
									<div class="first-row form-group">
										
										<div class="controls">
											<label class="control-label">Add Category</label>
										   <input type="text" value="{{oneCategorey.catname}}" class="form-control" id="category" name="catname" placeholder="Enter new Category">
										</div>
									</div>
									<div class="first-row form-group">
										
										<div class="controls">
											<label class="control-label">Discount</label>
										   <input type="number" class="form-control" min="1" max="100" id="discount" name="discount" placeholder="Discount">
										</div>
									</div>
									<button class="submit check_out">Add category</button>
								</div>
							</section>
						</form>
						{{!-- <div class="checkout-right-basket">
							<a href="payment.html">Make a Payment </a>
						</div> --}}
					</div> 



