
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800,900" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface:300,400,500,600,700,800,900" />
  <style>
          body{
            font-family: "Inter";
            color: #402e46;
            text-align: center;
          }

          .ver {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          h3{
            font-size: 30px;
            font-family: "Inter";
            font-weight: 900;
            margin-bottom: -10px;
          }

          h4{
            margin-top: 10px;
            margin-bottom: 10px;
          }

          .main{
            padding: 25px;
            border-radius: 20px;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
          }

          hr{
            border: solid 0.5px #c1c1d35b;
          }

          img{
            margin-bottom: -30px;
          }
            
  </style>

   <div class="banner_top innerpage" id="home">
		<div class="wrapper_top_w3layouts">
			 <div class="header_agileits">
				
			</div>
		</div>
		
		<!-- //search -->
		<div class="clearfix"></div> 
		<!-- /banner_inner -->
		<div class="services-breadcrumb_w3ls_agileinfo">
			<div class="inner_breadcrumb_agileits_w3">

				<ul class="short">
					<li><a href="index.html">Home</a><i>|</i></li>
					<li>Success</li>
				</ul>
			</div>
		</div>
		<!-- //banner_inner -->
	</div>


  <div class="main" style="margin-top: 7%; border:2px solid #fd899f"  >
     <img
          src="https://alohe.github.io/emojicloud/svg/Party popper.svg"
          width="250px"
          />
          
          <br>
          <br>
   
    <div class=" newsleft">
			<h3>Your order is  Confirmed!</h3>
	

   <a href="/shop"><button class="mt-5 btn btn-secondary" >Shop</button></a> 
    <a href="/orders"><button class="mt-5  btn btn-secondary" >Order Details</button></a> 
  
   </div>
</div>
<div style="margin-top: 5%;"></div>